<!-- Navbar -->
<div class="navbar">
    <div class="container flex">
        <h1 class="Logo card2 text-center"><a href="index.html">Tonny's Executive Barbershop & Spa</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</div>