@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --primary-color: #cfaf20;
    --secondary-color: #333;
    --dark-color: #002240;
    --light-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, 
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* NavBar Styling */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 110px;
}

.navbar h1 a{
    color: var(--primary-color);
}

.navbar ul {
    display: flex;
}

.navbar li a {
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    margin: 0 5px;

}

.navbar li a:hover {
    border-bottom:2px #fff solid ;
}

.navbar .flex {
    justify-content: space-between;
}


/* Showcase */
.showcase {
    height: 400px;
    background-color: #333;
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 0.7s ease-in;
}

.showcase-form h2{
    font-weight: bold;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 380px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 0.7s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}

/* Other Services */
.other {
    padding-top: 100px;
    animation: slideInFromBottom 0.7s ease-in;
}

.other img {
    border-radius: 30px;
}

.other-heading {
    max-width: 500px;
    margin: auto;
}

.other h3 {
    font-size:35px;
    padding-bottom: 50px;
}


/* Mani-Pedi */
.mani-pedi img {
    border-radius: 30px;
}

.mani-pedi .grid {
    padding-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 100px;
}

.mani-pedi .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Massage */
.massage {
    height: 400px;
    position: relative;
}

.massage .grid {
    grid-template-columns: 4fr 3fr;
    padding-bottom: 100px;
}

.massage img {
    border-radius: 10px;
}

.massage::before {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(2deg);
    -webkit-transform: skewY(1deg);
    -moz-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
}

/* Shop Area */
.shop {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 600px;
}


/*About Us*/
.container-about .about-us {
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.container-about h1 {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.container-about h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}


.container-about p {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 175;
    margin-bottom: 4rem;
}

.container-about .about-us .image img {
    max-width:40%;
    height:auto;
    border-radius: 200px;
}

.card4 {
    height: 650px;
    width: 750px;
    padding: 40px;
    justify-self: flex-end;
    padding-top: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:650px;
}

.card5 {
    height: 190px;
    width: 500px;
    padding: 40px;
    justify-self: flex-end;
    text-align: center;
    padding-top: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.card5 p {
    text-align: center;
}

.card5 a {
    padding-left: 10px;
    margin: 30px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

/* Footer */
.footer {
    background-color: #333;
}

.footer .social a {
    margin: 0 30px;
    
}

.footer nav a:hover {
    border-bottom:2px #fff solid ;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform:  translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform:  translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform:  translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform:  translateX(0);
    }
}


/* Tablets Responsiveness */
@media (max-width: 768px) {
    .container {
        padding-left: 40px;
    }

    .navbar {
        height: 200px;
    }

    .grid,
    .showcase .grid,
    .other .grid,
    .mani-pedi .grid,
    .massage .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        animation: slideInFromLeft 0.7s ease-in;
    }

    .showcase-text h1 {
        padding-top: 60px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 0.7s ease-in;
    }

    .mani-pedi {
        text-align: center;
    }

    .mani-pedi .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    

    .massage {
        height: fit-content;
    }

    .shop {
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .gmap_canvas {
        margin-left: -40px;
    }

    .card4 {
        height: auto;
    }

    .footer {
        text-align: center;
    }
}

/* Mobile-Tab Responsiveness */
@media (max-width: 411px) {
    .navbar {
        height: auto;
        max-width: 411px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .card2 {
        margin-top: 20px;
    }
    
    .navbar ul {
        padding: 1px;
        background-color: rgb(63, 58, 58);
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .navbar li a {
        font-size: 1.7rem;    
    }

    .showcase-form {
        height: auto;
        max-width: 401px;
    }

    .shop {
        margin-left: 10px;
    }

    .container-directions {
        padding-left: 0px;
        padding-right: 0px;
        height: 400px;
        width: 300px;
    }

    .card4 {
        height: 400px;
        width: 300px;
        padding: 0px;
        margin: 0px;
    }

    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height: 360px;
        width: 300px;
        padding-left: 70px;
        padding-right: 0px;
    }

    .gmap_canvas iframe {
        height: 320px;
        width: 245px;
    }

    .mapouter {
        height: 360px;
        width: 290px;
    }

    .card5 {
        margin: 0px;        
        height: 220px;
        width: 310px;
        overflow: hidden;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .card5 a {
        margin: 0;
    }
}
@media (max-width: 634px) {
    .navbar {
        height: 250px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(63, 58, 58); 
        margin-top: 0px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .card4 {
        height: 420px;
        width: 360px;
        overflow: hidden;
    }
    
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:360px;
        width:350px;
        padding-left: 60px;
    }

    .gmap_canvas iframe {
        height: 320px;
        width: 300px;
    }

}

/* Mobile * Responsiveness */
@media (max-width: 500px) {
    .navbar {
        height: 250px;     
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(63, 58, 58); 
        margin-top: 0px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .card4 {
        height: 420px;
        width: 360px;
        overflow: hidden;
    }
    
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:360px;
        width:350px;
        padding-left: 60px;
    }

    .gmap_canvas iframe {
        height: 320px;
        width: 300px;
    }
}

/* Mobile L Responsiveness */
@media (max-width: 425px) {
    
    .navbar {
        height: 250px;
        width: 425px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .card2 {
        margin-top: 20px;
    }
    
    .navbar ul {
        padding: 1px;
        background-color: rgb(63, 58, 58);
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .shop {
        margin-left: 10px;
    }

    .container-directions {
        overflow: hidden;
        height: 500px;
        width: 360px;
    }

    .card4 {
        height: 500px;
        width: 360px;
    }
    
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:360px;
        width:350px;
        padding-left: 60px;
    }

    .gmap_canvas iframe {
        height: 320px;
        width: 300px;
    }

    .card5 {
        text-align: center;
    }

}

/* Mobile M Responsiveness */
@media (max-width: 375px) {
    .navbar {
        height: 250px;
        width: 375px;
    }
    
    .navbar .flex {
        flex-direction: column;
    }
    
    .card2 {
        margin-top: 20px;
    }
    
    .navbar ul {
        padding: 1px;
        background-color: rgb(63, 58, 58);
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .navbar li a {
        font-size: 1.7rem;    
    }
    
    .showcase-form {
        width: 375px;
    }

    .card5 {
        height: 270px;
        width: 350px;
        margin-left: 1px;
        padding-left: 8px;
    }
}

/* Mobile S Responsiveness */
@media (max-width: 320px) {
    .navbar {
        height: 280px;
        width: 320px;
    }

    .navbar li a {
        font-size: 1.2rem;    
    }

    .showcase-form {
        width: 320px;
    }

    .container-directions {
        padding-left: 0px;
        padding-right: 0px;
        height: 400px;
        width: 300px;
    }

    .card4 {
        height: 400px;
        width: 300px;
        padding: 0px;
        margin: 0px;
    }

    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height: 360px;
        width: 300px;
        padding-left: 70px;
        padding-right: 0px;
    }

    .gmap_canvas iframe {
        height: 320px;
        width: 245px;
    }

    .mapouter {
        height: 360px;
        width: 290px;
    }

    .card5 {
        margin: 0px;        
        height: 230px;
        width: 310px;
        overflow: hidden;
    }

    .card5 a {
        margin: 0;
    }
    
}